/* html {
  background-color: rgba(253, 252, 238, 1);
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .efafaefaefaef {
color:  rgba(251, 250, 206, 1); - canvas yellow
color:  rgba(212, 212, 214, 1); - canvas grey
color:  rgba(238, 147, 152, 1); - canvas red
color:  rgba(203, 218, 237, 1); - canvas blue
color:  rgba(254, 204, 153, 1); - canvas orange
color:  rgba(242, 233, 224, 1); - canvas canvas
color:  rgba(194, 216, 195, 1); - canvas green 
} */

.color-picker {
  color: rgb(61, 23, 23);
}
